.books {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: books-appear 1s ease-out forwards;
  }

  .BooksLoading {
    text-align: center;
    color: white;
  }
  
  .books ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes books-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }